
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

body{
    width: 75%;
    margin: auto;

}

header{
    height: 350px;
    background-color:red;
}

.Title{
    height: 50px;
    background-color: greenyellow;
}

.Link{
    height: 30px;
    background-color: blue;
    color: white;
}

.Photo{
    height: 270px;
    background-color: blueviolet;
    color: white;
}
main{
    height: 420px;
    background-color: white;
}

.Title_2{
    height: 50px;
    background-color: thistle;
}

.Container{
    height: 370px;
    background-color: yellow;

}

.Sidebar_left{
    height: 370px;
    width: 20%;
    background-color: turquoise;
    float: left;
}

.Main_content{
    height: 370px;
    width: 60%;
    background-color: yellow;
    float: left;
}    

.Sidebar_right{
    height: 370px;
    width: 20%;
    background-color: lightsalmon;
    float: left;
}

footer{
    height: 25px;
    background-color: greenyellow;
}